body {
    
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post {
    margin-top: 20px;
}

.post>h2, .post>div {
    background: #DDD;
    margin: 0;
    padding: 5px;
}

#blog {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      background-image: url("img/java.png");
      background-size:20% 90%;
       margin-top:4%;
       margin-bottom:5%;
}

#contacts {
    background-color:#ffcc00;
    width: 1000px;
    border-radius:5px;
    padding-right:50px;
    padding-top:10px;
}

#footer {
	color: white;
    background-color:#000000;
}
footer ul {
	font-size: 18px;
	list-style-type: none;
}

footer ul li {
	padding-bottom: 10px;
    list-style-type: none;
}

footer ul li a{
	color:white;
    text-decoration:none;
}

footer ul li a:hover{
	color:white;
    text-decoration:none;
}

#nav {
	display: inline-block;
    margin-left:25%;
}

#copyright {
	text-align: center;
	width: 450px;
	display: inline-block;
    margin-top:auto;
}

#social {
	display: inline-block;
	margin-left: 20px;
	
}

#facebook {
	width: 40px;
	height: 40px;
	background:  url("img/mini-social-icons.png") 0 0;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 40px;
}

#google {
	width: 40px;
	height: 40px;
	display: inline-block;
	background:  url("img/mini-social-icons.png") -40px 0;
	border: 1px solid grey;
	border-radius: 40px;
}

#twitter {
	width: 40px;
	height: 40px;
	background:  url("img/mini-social-icons.png") -80px 0;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 40px;
}

#facebook:hover {
	width: 40px;
	height: 40px;
	background:  url("img/mini-social-icons.png") 0 40px;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 40px;
}

#google:hover {
	width: 40px;
	height: 40px;
	display: inline-block;
	background:  url("img/mini-social-icons.png") -42px 40px;
	border: 1px solid grey;
	border-radius: 40px;
}

#twitter:hover {
	width: 40px;
	height: 40px;
	background:  url("img/mini-social-icons.png") -84px 40px;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 40px;
}

#nav > ul {
    display: block;
    list-style-type: disc;
    margin:0;
}

#aboutImg {

    position: absolute;
    left:30%; 
    top:40%;
    
}