
@{
    ViewBag.Title = "About";
}

<div id="about">
    <h3><img src="~/Content/img/java.png" alt="Cold Beer" height="45" width="45"> Would you like to join our JAVA commnunity? Who are are:</h3>

    <h4>
        We are a community of Java programmers from all around the World.
        Our members have a wide range of skills and they all have one
        thing in common: A passion to learn and code Java. We invite
        beginner Java programmers right through to Java professionals to
        post here and share your knowledge. Become a part of the community,
        help others, expand your knowledge of Java and enjoy talking with
        like minded people. Registration is quick and best of all free. We
        look forward to meeting you.
    </h4>
</div>
    
<div style="position:absolute; left: 40%">
    <h2>OUR TEAM</h2>
</div>

<div id="aboutImg">
    <img src="~/Content/img/be-the-best-450-300.jpg" />
</div>