
@{
    ViewBag.Title = "Blog";
}

<div id="blog">
<<<<<<< d419c2f0960665997c023a5b73589e424ed41836
    <img src="~/Content/images/javapic.png" alt="id">
=======
    
>>>>>>> adding footer changing contact page and adding background image to Blog.cshtml
</div>