
@{
    ViewBag.Title = "Contacts";
}

<div id="contacts">
    <main>
        <div class="main">
            <div id="contact-us">
                <h1>If you want to drink one cold <img src="~/Content/img/beer.png" alt="Cold Beer" height="55" width="55"> and get code advices you can find us here:</h1>
            </div>
            <div id="map">
                <iframe width="1000" height="490" src="https://maps.google.com/maps?hl=en&q=sofia&ie=UTF8&t=satellite&z=6&iwloc=B&output=embed">
                    <div>
                        <small>
                            <a href="http://embedgooglemaps.com">embedgooglemaps.com</a>
                        </small>
                    </div>
                    <div>
                        <small>
                            <a href="http://premiumlinkgenerator.com">premium link generator for 2016</a>
                        </small>
                    </div>
                </iframe>
            </div>
        </div>
    </main>

</div>
